
header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}
body nav li a{
  height: auto !important
}

.card{
  border:solid red 1px;
}
.card-image{
  display:block;
  max-width:35% !important;
  border:solid green 1px;
}

.card-stacked{
  display: block;
  max-width: 65% !important;
}

.card-image-duo{
  display:block;
  max-width:17.5% !important;
  border:solid green 1px;
}

.card-stacked-duo{
  display: block;
  max-width: 65% !important;
}

.rotate_180{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.card-name{
  border:1px solid purple;
}
.question{
  border:solid black 1px;
  margin: 1.5em auto;
  width:80%;
}
.question > h2{
  text-align: center;
  padding:0.25em;
}

img{
  max-width: 100%;
  max-height: 100%;
}
p{
  font-size:1.25em;
}

h2{
  font-size: 2.25em;
}

h4{
  font-size: 1.75em;
}
