body{
  background-color: #031f4c;
  color:white;
}

.margintop05em {
  margin-top: 0.5em;
}

/*nav{
  border-bottom: 0.35em solid black;
}*/

header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}
body nav li a{
  height: auto !important
}
.description{
  max-width: 80%;
  margin: 0 auto;
  padding: 2em;
}
.color-gray {
  color: #9e9e9e ;
}
.card{
  border:solid grey 0.1rem;
/*  border: none;*/
  box-shadow: 1em 1em 0.5em #grey;
  min-height: 250px !important;
  box-sizing: border-box !important;
}
.card-image{
  display:block;
  max-width:35% !important;
  /*border:solid green 1px;*/
}
.card-content{
  vertical-align: middle;
}
.next{
  float:right;
  max-width: 45% !important;
}
.prev{
  float:left;
  max-width: 45% !important;
}
.card-stacked{
  display: block;
  max-width: 65% !important;
  height: 100%;
}

.try{
  display:block;
  max-width:35%;
  /*border:solid green 1px;*/
}

.card-stacked-duo{
  display: block;
  max-width: 65% !important;
  height:100%;
  vertical-align: middle;
}
.card-content{
  vertical-align: middle;
}

.rotate_180{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.card-name{
  text-align: center;
  padding:0.5em;
}
.redirect{
  padding: 4em 0.75em;
}
.question{
  margin: 1.5em auto;
  width:80%;
}
.question > h2{
  text-align: center;
  padding:0.25em;
}

@media only screen and (min-width : 420px) {
  .try{
    display:block;
  }
  .card-image-duo{
    display: inline-block;
    float: left;
    max-width: 50%;
  }
}

@media only screen and (min-width: 700px) {
  .p-40 {
    padding: 30px !important;
  }
}

img{
  width: 100% !important;
  max-width: 180px !important;
  border-radius: 50% !important;
  padding: 0.5em;
}
p{
  font-size:1.25em;
}
.disordertitle{
  font-size:3em;
}
h2{
  font-size: 2.25em;
}

h4{
  font-size: 1.75em;
}
