body{
  background-color: #031f4c;
}

body nav li a{
  height: auto !important
}

/*nav{
  border-bottom: 0.35em solid black;
}*/
.no-hover:hover {
  background-color: inherit !important;
}

.centertext {
  position: absolute;
  left:12%;
  right:12%;
  top:25%;
  font-weight: 400;
  font-size: 2em;
  color: white;
}

.margintop05em {
  margin-top: 0.5em;
}


.default-cursor{
  cursor: default;
}

.color-gray {
  color: #9e9e9e ; <!--need it for cards-->
}

/*start here button on landing page*/

.width-30 {
    width: 140px !important;
}

/*depression page*/
.disordertitle {
  position: absolute;
  left:12%;
  right:12%;
  top:10%;
  color:#9e9e9e;
}


header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}
