header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}
body nav li a{
  height: auto !important
}

h1{
  margin-top: 0.5em;
}



.no-hover:hover {
  background-color: inherit !important;
}

/* .no-hover ovverides this default rule
.nav ul a:hover {
  background-color: rgba(0,0,0,0.1);
}
*/
