body{
  background-color: #031f4c;
}

body nav li a{
  height: auto !important
}

/*nav{
  border-bottom: 0.35em solid black;
}*/
.no-hover:hover {
  background-color: inherit !important;
}


.tmargin-100 {
  margin-top: 100px;
}

.tmargin-50 {
  margin-top: 50px;
}

.hov-orange:hover {
    background-color: #f9a825 !important;
    color: white !important;
}

.hov-blue:hover {
    background-color: #00b0ff !important;
}

.default-cursor{
  cursor: default;
}

.color-gray {
  color: #9e9e9e;
}

/*start here button on landing page*/

.width-30 {
    width: 150px !important;
}

/*depression page*/
.disordertitle {
  position: absolute;
  left:12%;
  right:12%;
  top:10%;
  color:#9e9e9e;
}


header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}
