/* Resets */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

/* Text container */

.img-container {
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    height: 100vw;
}

.text-container {
    position: absolute;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
}
